{
  "presets": [
    ["env", { "targets": { "node": 4 } }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
